name: tms-prac

services:
  server:
    build: .
    ports:
      - 3000:3000
    networks:
      - tms-prac-net
    env_file:
      - .env
    volumes:
      - ./:/app
    depends_on:
      - db
  web:
    build:
      context: ./web
      dockerfile: dockerfile
    ports:
      - 4000:4000
    networks:
      - tms-prac-net
    volumes:
      - ./web:/app
    depends_on:
      - server
  db:
    image: postgres:latest
    volumes:
      - pg-volume:/var/lib/postgresql
    env_file:
      - .env
    ports:
      - 5432:5432
    networks:
      - tms-prac-net


networks:
  tms-prac-net:
    driver: bridge

volumes:
  pg-volume:
