apiVersion: apps/v1
kind: Deployment
metadata:
  name: tms-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tms-app
  template:
    metadata:
      labels:
        app: tms-app
    spec:
      containers:
        - name: tms-app
          image: kaloyanvv/tms-prac:latest
          imagePullPolicy: Always
          env:
            - name: NODE_ENV
              value: "production"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: DATABASE_URL
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_HOST
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: POSTGRES_DB
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: tms-app-service
spec:
  type: NodePort
  selector:
    app: tms-app
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001
